<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My First HTML Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div th:replace="~{fragment/header::menu}"></div>
<form action="#" th:action="@{/animal/update/{id}" th:object="${animal}" method="put">

    <label for="nombre">Nombre</label>
    <input type="text" id="nombre" th:field="*{name}" th:value="${name}" >

    <label for="AverageLifeAge">Edad Media</label>
    <input type="number" id="AverageLifeAge" th:field="*{averageLifeAge}" th:value="${averageLifeAge}">

    <input type="checkbox" id="extinct" th:field="*{extinct}" th:value="${extinct==true ? true : false}" />
    <label  for="extinct">Extinto</label>

    <input type="submit" value="Update">
</form>
</body>
</html>